<div *ngFor="let todoList of todoLists; let i = index;" style="margin-top: 2rem;">
  <mat-card *ngIf="!todoList.editingName"
            style="margin: 2rem 0.5rem; background-color: lightgray;">
    <mat-card-header (click)="showListDetails(i)">
      <mat-card-title>{{ todoList.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="todoList.showListDetails">
      <mat-spinner *ngIf="!todoList.items" [diameter]="30" style="margin: 0 auto;"></mat-spinner>
      <app-todos *ngIf="todoList.items" [prevTodoList]="prevTodoList" [listIndex]=i [listId]="todoList.id"></app-todos>
    </mat-card-content>

    <mat-card-actions>
      <div style="display: table; width: 100%; text-align: center;">
        <div style="display: table-cell; width: 20%;">
          <div class="base-mat-icon">
            <div class="icon-font-spec">{{ todoList.itemsCompleted }}</div>
            <div>Completed</div>
          </div>
        </div>
        <div style="display: table-cell; width: 20%;">
          <div class="base-mat-icon">
            <div class="icon-font-spec">{{ todoList.itemsPending }}</div>
            <div>Pending</div>
          </div>
        </div>
        <div style="display: table-cell; width: 20%;">
          <button (click)="editListName(i)" class="base-mat-icon" title="Edit Name" [disabled]="!isOnline">
            <i class="material-icons icon-font-spec">border_color</i>
            <div>Edit List Name</div>
          </button>
        </div>
        <div style="display: table-cell; width: 20%;">
          <button (click)="createNewTodo(i)" class="base-mat-icon" title="Add Todo" [disabled]="!isOnline">
            <i class="material-icons icon-font-spec">add_circle</i>
            <div>Add Todo</div>
          </button>
        </div>
        <div style="display: table-cell; width: 20%;">
          <button (click)="confirmDeleteList(i)" class="base-mat-icon" title="Delete List" [disabled]="!isOnline">
            <i class="material-icons icon-font-spec">delete</i>
            <div>Delete List</div>
          </button>
        </div>
      </div>

    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="todoList.editingName" style="margin: 2rem 0.5rem; background-color: lightgray;">
    <form novalidate [formGroup]="newTodoListName">

      <mat-form-field style="margin-left: 1.2rem;">
        <input matInput placeholder="List Name" formControlName="newListName">
      </mat-form-field>

      <mat-card-actions>
        <div style="display: table; width: 100%; text-align: center;">
          <div style="display: table-cell; width: 50%;">
            <button (click)="cancelEditList(i)" class="base-mat-icon-text-only">Cancel</button>
          </div>
          <div style="display: table-cell; width: 50%;">
            <button (click)="saveListName(i)" class="base-mat-icon-text-only" [disabled]="!newTodoListName.valid">
              Save
            </button>
          </div>
        </div>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
