@import "../../../t2t2-theme.scss";

mat-card {
  width: 100%;
  font-size: 1rem;
  background-color: #ffffff;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 0;
  color: map-get(color-map(), dark);
  border: 2px solid map-get(color-map(), dark);
}
.baseMatIconTodos {
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  color: map-get(color-map(), dark);
}
.time-picker-label {
  opacity: 0.65;
  font-size: 0.9rem;
  margin: 0;
}
.time-picker-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid map-get(color-map(), dark);
}
.time-picker-input {
  border: 0;
  font-size: 1rem;
  width: 95%;
  outline: none
}
