mat-card {
  width: 100%;
  font-size: 1rem;
  background-color: #ffffff;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 0;
  color: #3a47ff;
  border: 2px solid #3a47ff;
}
.baseMatIconTodos {
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  color: #3a47ff;
}
.time-picker-label {
  opacity: 0.65;
  font-size: 0.9rem;
  margin: 0;
}
.time-picker-wrapper {
  display: flex;
  width: 100%;
  border-bottom: solid #5e5e5e 1px;
}
.time-picker-input {
  border: 0;
  font-size: 1rem;
  width: 95%;
  outline: none
}
