<div *ngIf="userTodoList.todos">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let todo of userTodoList.todos; let i = index;"
         cdkDragDisabled="{{ editingTodoLabelIndex > -1 }}" cdkDragLockAxis="y" cdkDrag #todoList>
      <mat-card *ngIf="editingTodoLabelIndex !== i">
        <mat-card-header style="margin: 0;">
          <mat-card-title style="margin-bottom: 6px; font-size: 1em; color: #3a47ff;">{{ todo.label }}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="todo.description" style="margin: 0 2em; font-size: 0.8em;">
          {{ todo.description }}
        </mat-card-content>
        <mat-card-actions style="margin-bottom: 0;">
          <div class="actionRow">
            <div class="actionCell16">
              <button (click)="editTodo(i)" class="baseMatIconTodos" title="Edit Todo Info">
                <i class="material-icons iconFontSpec">border_color</i>
              </button>
            </div>
            <div class="actionCell16">
              <button (click)="deleteTodo(i)" class="baseMatIconTodos" title="Delete Todo">
                <i class="material-icons iconFontSpec">delete</i>
              </button>
            </div>
            <div class="actionCell16">
              <div [ngClass]="editingTodoLabelIndex === -1 ? 'baseMatIconTodos' : 'baseMatIconHide'" cdkDragHandle>
                <i class="material-icons iconFontSpec">drag_indicator</i>
              </div>
            </div>
            <div class="actionCell33">
              <mat-checkbox (click)="toggleTodoComplete(i)" class="baseMatIconTodos" [checked]="todo.completed">
                Complete
              </mat-checkbox>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="editingTodoLabelIndex === i" style="margin: 0.25rem 0.5rem;">
        <form novalidate [formGroup]="editTodoForm">
          <mat-form-field style="margin-left: 1.2rem;">
            <input matInput placeholder="Item Name" formControlName="label">
          </mat-form-field>
          <mat-form-field style="margin-left: 1.2rem;">
            <input matInput placeholder="Item Description (optional)" formControlName="description">
          </mat-form-field>
          <mat-card-actions>
            <div style="display: table; width: 100%; text-align: center;">
              <div style="display: table; width: 100%; text-align: center;">
                <div style="display: table-cell; width: 50%;">
                  <button (click)="saveEditTodo(i)" class="baseMatIconTextOnly" [disabled]="!editTodoForm.valid">
                    Save
                  </button>
                </div>
                <div style="display: table-cell; width: 50%;">
                  <button (click)="cancelEditDetails(i)" class="baseMatIconTextOnly">Cancel</button>
                </div>
              </div>
            </div>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
