<div *ngIf="userTodoList.todos">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let todo of userTodoList.todos; let i = index;"
         cdkDragDisabled="{{ editingTodoLabelIndex > -1 }}" cdkDragLockAxis="y" cdkDrag>
      <mat-card *ngIf="editingTodoLabelIndex !== i"
                style="margin: 0.25rem 0.5rem; background-color: lightblue; padding: 0.5em 0;">
        <mat-card-header style="margin: 0;">
          <mat-card-title style="margin-bottom: 6px; font-size: 1em;">{{ todo.label }}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="todo.description" style="margin: 0 2em; font-size: 0.8em;">
          {{ todo.description }}
        </mat-card-content>
        <mat-card-actions style="margin-bottom: 0;">
          <div style="display: table; width: 100%; text-align: center;">
            <div style="display: table-cell; width: 25%; vertical-align: bottom;">
              <button (click)="editTodo(i)" class="base-mat-icon" title="Edit Todo Info">
                <i class="material-icons icon-font-spec">border_color</i>
              </button>
            </div>
            <div style="display: table-cell; width: 25%; vertical-align: bottom;">
              <button (click)="deleteTodo(i)" class="base-mat-icon" title="Delete Todo">
                <i class="material-icons icon-font-spec">delete</i>
              </button>
            </div>
            <div style="display: table-cell; width: 25%; vertical-align: bottom;">
              <div [ngClass]="editingTodoLabelIndex === -1 ? 'base-mat-icon' : 'base-mat-icon-hide'" cdkDragHandle>
                <i class="material-icons icon-font-spec">drag_indicator</i>
              </div>
            </div>
            <div style="display: table-cell; width: 25%; vertical-align: bottom;">
              <button (click)="toggleTodoComplete(i)" class="base-mat-icon" title="Completed">
                <div>Complete</div>
                <i *ngIf="todo.completed" class="material-icons icon-font-spec">check_box</i>
                <i *ngIf="!todo.completed" class="material-icons icon-font-spec">check_box_outline_blank</i>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="editingTodoLabelIndex === i" style="margin: 0.25rem 0.5rem; background-color: lightblue;">
        <form novalidate [formGroup]="editTodoForm">
          <mat-form-field style="margin-left: 1.2rem;">
            <input matInput placeholder="Label" formControlName="label">
          </mat-form-field>
          <mat-form-field style="margin-left: 1.2rem;">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
          <mat-card-actions>
            <div style="display: table; width: 100%; text-align: center;">
              <div style="display: table; width: 100%; text-align: center;">
                <div style="display: table-cell; width: 50%;">
                  <button (click)="saveEditTodo(i)" class="base-mat-icon-text-only" [disabled]="!editTodoForm.valid">
                    Save
                  </button>
                </div>
                <div style="display: table-cell; width: 50%;">
                  <button (click)="cancelEditDetails(i)" class="base-mat-icon-text-only">Cancel</button>
                </div>
              </div>
            </div>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
