mat-card {
  margin: 1rem 0.5rem;
  padding: 0.5rem 0;
}
mat-menu-item {
  color: #3a47ff;
}
.baseMatIconLists {
  border: none;
  background-color: transparent;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  color: #6D4C41;
}
.iconFontSpecMore {
  font-size: 2.5rem;
  color: #ffffff;
}
