mat-card {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
mat-menu-item {
  color: #3a47ff;
}
mat-toolbar {
  background-color: transparent;
  height: 56px;
  position: fixed;
  top: 0;
  z-index: 101;
}
mat-list-item {
  height: 100%;
  margin: 1rem 0;
}
.iconFontSpecMore {
  font-size: 2.5rem;
  color: #ffffff;
}
