@import "../t2t2-theme";

.baseMatIconHide {
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
  display: none;
}
.baseMatIconTextOnly {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
}
.baseMatIconLists {
  border: none;
  background-color: transparent;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  color: map-get(color-map(), primary);
}
.iconFontSpec {
  font-size: 0.9rem;
}
.actionRow {
  display: table;
  width: 100%;
  text-align: center;
}
.actionCell16 {
  display: table-cell;
  width: 16.66%;
  vertical-align: bottom;
}
.actionCell33 {
  display: table-cell;
  width: 33.33%;
  vertical-align: bottom;
}
.actionCell50 {
  display: table-cell;
  width: 50%;
}
