<mat-toolbar style="position: sticky; top: 0; z-index: 100; background-color: lightskyblue;">
  <span>The Docket</span>
  <button *ngIf="currentUser" mat-button [matMenuTriggerFor]="menu" style="position: absolute; right: 0;">
    <!-- <div class="more-horiz icon-font-spec-more"></div> -->

    <i class="material-icons icon-font-spec-more">more_horiz</i>
  </button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button *ngIf="!this.creatingNewList" mat-menu-item (click)="createNewList()">Create A New List</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-spinner *ngIf="showLoadingSpinner" [diameter]="30" style="margin: 0 auto;"></mat-spinner>

<app-login *ngIf="!currentUser"></app-login>

<app-todo-list *ngIf="currentUser"></app-todo-list>
