<div class="formOuter formBasic">
  <h1 style="text-align:center;">Login</h1>

  <form (ngSubmit)="submit()" novalidate [formGroup]="loginForm">
    <mat-form-field style="width: 90%">
      <input type="email" matInput formControlName="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field style="width: 90%">
      <input type="password" matInput formControlName="password" placeholder="Password">
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!loginForm.valid" color="primary">
      Submit
    </button>
  </form>

</div>
