html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Raleway";
  font-size: 20px;
}
.base-mat-icon {
  border: none;
  background-color: transparent;
  font-size: 0.6rem;
  text-align: center;
  outline: none;
}
.base-mat-icon-text-only {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: center;
}
.icon-font-spec {
  font-size: 1.2rem;
}
.icon-font-spec-more {
  font-size: 2.5rem;
}
