html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Raleway";
  font-size: 20px;
}
p, div, span {
  font-family: "Raleway";
}

@media screen and (min-width: 781px) {
  .screenMargin {
    margin: 0 15%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .screenMargin {
    margin: 0 7.5%;
  }
}
@media screen and (max-width: 480px) {
  .screenMargin {
    margin: 0;
  }
}
.base-mat-icon {
  border: none;
  background-color: transparent;
  font-size: 0.6rem;
  text-align: center;
  outline: none;
}
.base-mat-icon-hide {
  border: none;
  background-color: transparent;
  font-size: 0.6rem;
  text-align: center;
  outline: none;
  display: none;
}
.base-mat-icon-text-only {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: center;
}
.icon-font-spec {
  font-size: 1.2rem;
}
.icon-font-spec-more {
  font-size: 2.5rem;
}
.formOuter {
  border: thin solid #212CC2;
  margin-top: 1em;
  padding: 5px;
  color: #212CC2;
}
.formBasic {
  color: #212CC2;
  background-color: #ffffff;
  font-size: 12pt;
  font-weight: bold;
}
.todoListsFooter {
  display: table-cell;
  width: 16.66%;
}
.removeDragHandle {
  width: 16.66%;
  display: none;
}
