@import "./t2t2-theme.scss";

html, body {
  height: 100%;
  font-family: "Raleway";
  font-size: 20px;
  margin: 0;
}
p, div, span {
  font-family: "Raleway";
}

@media screen and (min-width: 781px) {
  .screenMargin {
    margin: 0 15%;
  }
  .screenMarginLogin {
    margin: 0 15%;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .screenMargin {
    margin: 0 7.5%;
  }
  .screenMarginLogin {
    margin: 0 7.5%;
  }
}
@media screen and (max-width: 480px) {
  .screenMargin {
    margin: 0;
  }
  .screenMarginLogin {
    margin: 0 1em;
  }
}
.mat-list-item-content {
  padding: 0 !important;
}

.timepicker {

  .timepicker__header {
    background-color: map-get(color-map(), primary) !important;
  }

  .clock-face__clock-hand {
    background-color: map-get(color-map(), primary) !important;

    &::after {
    background-color: map-get(color-map(), primary) !important;
    }

    &::before {
    background-color: map-get(color-map(), primary) !important;
    }
  }

  .clock-face__number {
    > span.active {
    background-color: map-get(color-map(), primary) !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: map-get(color-map(), primary) !important;
  }
}

.datepickerBorder{
  border: solid 2px map-get(color-map(), primary);
}
