@import '~@angular/material/theming';

@include mat-core();

$t2t2-primary: mat-palette($mat-brown, 600);
$t2t2-accent: mat-palette($mat-indigo, A700);
$t2t2-warn: mat-palette($mat-orange, 800);

$t2t2-theme: mat-light-theme($t2t2-primary, $t2t2-accent, $t2t2-warn);
@include angular-material-theme($t2t2-theme);

.mat-card-title {
  color: #000000;
}
.mat-snack-bar-container {
  background-color: #3a47ff;
}
.mat-simple-snackbar-action, .mat-simple-snackbar {
  color: #ffffff;
}
.mat-checkbox-frame {
  border-color: #3a47ff;
}
